/* sc_intro */

.sc_intro {position: relative;padding-top: 20vh;padding-bottom: 110px;color:#fff;line-height: 1.5;text-align: center;}

.sc_intro .title {font-family: "Hatton", sans-serif;font-size: 25px;font-weight: 300;text-align: center;}

.sc_intro .btn {margin: 30px 0 70px;}

.sc_intro .sub_title {font-family: "Hatton", sans-serif;font-size: 25px;margin-bottom: 100px;font-weight: 300;text-align-last: left;}

.sc_intro .desc {font-size: 14px;font-weight: 100;line-height: 1.6;}

.sc_intro .desc::first-letter {font-family: "Hatton", sans-serif;float: left;font-size: 80px;font-weight: 300;line-height: 0.7;padding-top: 35px;margin-right: 10px;}

.sc_intro .bg_box {position: absolute;top: 0;left: 0;height: calc(100% + 300px + 20vh);z-index: -1;width: 100%;}

.sc_intro .bg_box .bg {width: 100%;height: 100%;object-fit: cover;}

.sc_intro .bg_box::after {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: 0.3;z-index: 1;}

/* sc_product */

.sc_product {color:#fff;}

.sc_product .product_item {display: block;position: relative;padding-bottom: 100%;}

.sc_product .product_item+.product_item {margin-top: 30px;}

.sc_product .product_item .img_box {width: 100%;overflow: hidden;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

.sc_product .product_item .img_box img {width: 100%;height: 100%;object-fit: cover;transition: 0.3s;}

.sc_product .product_item:hover .img_box img {transform: scale(1.1);}

.sc_product .product_item .txt_box {position: absolute; left: 0;width: 100%;bottom: 50px;z-index: 10;font-family: "Hatton", sans-serif;text-align: center;line-height: 1.5;transition: 0.3s;padding: 20px 0;}

.sc_product .product_item:hover .txt_box {background: rgba(0,0,0,0.3);}

.sc_product .product_item .txt_box strong {display: block;font-size: 26px;font-weight: 300;margin-bottom: 10px;transform: translateY(120%);transition: 0.3s;}

.sc_product .product_item:hover .txt_box strong {transform: translateY(0);}

.sc_product .product_item .txt_box span {font-size: 12px;font-weight: 500;position: relative;}

.sc_product .product_item .over_txt span {transition: 0.3s;position: relative;display: inline-block;}

.sc_product .product_item .over_txt span::after {content:"";width: 100%;height: 1px;background: #fff;position: absolute;bottom:0;left: 0;}

.sc_product .product_item:hover .over_txt span {transform: translateY(0);}

/* sc_lip */

.sc_lip {padding-top: 70px;}

.sc_lip > title {padding: 0 25px;}

.sc_lip .flow_banner {border-top: 1px solid #333333;border-bottom: 1px solid #333333;overflow: hidden;position: relative;height: 3vw;}

.sc_lip .flow_banner .txt_box {text-transform: uppercase;font-family: "Hatton", sans-serif;font-size: 24px;font-weight: 300;width: 300vw;position: absolute;overflow: hidden;animation: marquee 15s linear infinite;}

.sc_lip .flow_banner .txt_box > div {font-size: 2vw;float: left;width: 100vw;display: flex;justify-content: space-between;}

@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }
  @media screen and (max-width: 1000px) {
    .sc_lip .flow_banner {height: 10vw;}
    .sc_lip .flow_banner .txt_box {width: 750vw;}
    .sc_lip .flow_banner .txt_box > div {font-size: 6vw;width: 250vw;}
}

.sc_lip .flow_banner .txt_box {text-transform: uppercase;font-family: "Hatton", sans-serif;font-size: 22px;font-weight: 300;}

.sc_lip .lip_item .txt_box {height: 100vw;padding: 40px 25px;background: #f3eee9;font-family: "Hatton", sans-serif;text-transform: uppercase;}

.sc_lip .lip_item.bg_black .txt_box {color:#fff;background: #000;}

.sc_lip .lip_item .txt_box .title {font-size: 20px;font-weight: 300;line-height: 1.2;margin-bottom: 60px;}

.sc_lip .lip_item .txt_box .btn {font-weight: 500;}

.sc_lip .lip_item .img_box {height: 350px;}

.sc_lip .lip_item.img_none .img_box {display:none;}

.sc_lip .lip_item .img_box {width: 100%;padding-bottom: 60%;overflow: hidden;position: relative;}

.sc_lip .lip_item .img_box img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;transform: scale(1.3);}

/* sc_news */

.sc_news {padding: 60px 0 40px;}

.sc_news .news_area {display:block;padding: 25px 0;border-top: 1px solid rgba(0,0,0,0.2);font-family: "Hatton", sans-serif;}

.sc_news .news_area .thumb {display:block;margin-bottom: 30px;}

.sc_news .news_area .title {font-size: 20px;font-weight: 300;text-transform: uppercase;line-height: 1.2;display:block;margin-bottom: 25px;}

.sc_news .news_area .date {display: block;margin-bottom: 15px;font-weight: 400;}

.sc_news .news_area .btn {font-weight: 500;}



